@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans';
    font-weight: 300;
    color: black;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
}

/* Headings and logo font */
h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

/* company logo and menu */
#logo {
    clear: both;
    float: left;
    font-size: 300%;
    line-height: 75px;
    width: 100%;
}

/* navigation menu */
#menu {
    font-size: 150%;
    letter-spacing: 3px;
    line-height: 50px;
}

#menu li {
    display: table-cell;
    width: 1%;
    text-align:center;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid black;
}

.active {
    border-bottom: 2px solid black;
}

.center {
    text-align: center;
}