@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.9);
    width: 80%;
    margin: 0 auto;
    background-color: #fafafa;
    height: 800px;
}

/* Headings and logo */
h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.9);
}

#logo {
    clear: both;
    float: left;
    font-size: 300%;
    line-height: 75px;
    width: 100%;
}

.logo-color {
    color: #0066CC;
}

/* navigation menu */
#menu {
    font-size: 150%;
    letter-spacing: 3px;
    line-height: 50px;
}

#menu li {
    display: table-cell;
    width: 1%;
    text-align:center;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color:#0066CC;
    border-bottom: 3px solid #0066CC;
}

.active {
    border-bottom: 2px solid rgba(0, 0, 0, 0.9);
}

.center {
    text-align: center;
}

/* intro showing trainer and subscriber statement */
#hero-outer {
    background: url('../images/hero-image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    height: 300px;
}

#subscriber-opening-tag, #trainer-opening-tag {
    width: 50%;
    height: 300px;
    letter-spacing: 1.5px;
    float: left;
    padding: 30px 0 0 120px;
    text-align: center;
    color: #fafafa;
    box-sizing: border-box;
}

#trainer-opening-tag p, #subscriber-opening-tag p {
    font-style: italic;
    padding-top: 30px;
    width: 80%;
}

.first-trainer, .first-subscriber {
    font-size: 75%;
}

/* different membership plans */
#subscriber-plans {
    height: 300px;
    background-color: #fafafa;
}

#plan1, #plan2, #plan3 {
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.7));
    margin: 0 auto;
    width: 33.3%;
    height: 100%;
    float: left;
}

.plan-heading-moto {
    width: 60%;
    height: 60px;
    padding-top: 20px;
    line-height: 25px;
    text-align: center;
    margin: 30px auto;
    color: #fafafa;
}

#plan1 h2, #plan2 h2, #plan3 h2 {
    color: #fafafa;
}

#plan1:hover, #plan2:hover, #plan3:hover {
    background-color: #0066CC;
    border: 2px solid #0066CC;
}

/* anchor element styled as a button */
#anchor-styled-button {
    height: 150px;
    width: 50%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding-top: 50px;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.6)); */
    background: rgba(0, 0, 0, 0.7);
}

#select-plan-nav, #signup-nav {
    border: 2px solid #0066CC;
    padding: 10px 40px;
    line-height: 50px;
    border-radius: 10px;
    letter-spacing: 3px;
    font-weight: 900;
    background-color: #fafafa;
    color: #0066CC;
    font-size: 150%;
    text-decoration: none;
    position: relative;
}

#select-plan-nav:hover, #signup-nav:hover {
    color: #fafafa;
    border: 2px solid #fafafa;
    background: linear-gradient(to right, rgba(14, 109, 204, 0.9), rgba(14, 109, 204, 0.6));
}

/* contacts and social networks */
footer {
    clear: both;
    height: 75px;
    position: relative;
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
}

.social-networks {
    list-style: none;
    text-align: center;
    height: 37.5px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 3px;
    margin-bottom: 3px;
    color: rgba(0, 0, 0, 0.7);
}

.social-networks i:hover {
    border-bottom: 2px solid #0066CC;
    color: #0066CC;
    padding-bottom: 2px;
}

#contact-heading {
    height: 37.5px;
    text-align: right;
    line-height: 25px;
    margin-top: 3px;
    padding-right: 1%;
    letter-spacing: 1.5px;
    width: 50%;
    float: left;
    box-sizing: border-box;
}

#contact-heading > h2 {
    color: rgba(0, 0, 0, 0.8);
}

#contact-details {
    font-size: 125%;
    text-align: left;
    line-height: 17.5px;
    margin-top: 3px;
    padding-left: 1%;
    letter-spacing: 1.5px;
    width: 50%;
    float: right;
    box-sizing: border-box; 
}

#hr-footer {
    border-bottom: 3px solid rgba(0, 0, 0, 0.7);
    width: 80%;
    margin: 0 auto;
}

/* select-a-plan webpage */
/* detailed gym plans */
#subscriber-plans-detail {
    height: 450px;
}

#plan1-detail, #plan2-detail, #plan3-detail {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.8));
    box-sizing: border-box;
    margin: 0 auto;
    width: 33.3%;
    height: 100%;
    float: left;
}

.plan-heading-detail {
    width: 60%;
    height: 80px;
    padding-top: 30px;
    padding-bottom: 5px;
    line-height: 25px;
    text-align: center;
    margin: 5px auto;
    color: #fafafa;
}

#plan1-detail h2, #plan2-detail h2, #plan3-detail h2 {
    color: #fafafa;
}

.plan-subheading-detail {
    width: 60%;
    height: 80px;
    padding-top: 15px;
    padding-bottom: 5px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
    color: #fafafa;
}

.plan-subheading-detail ul li {
    display: inline-block;
}

#plan1-detail:hover, #plan2-detail:hover, #plan3-detail:hover {
    background-color: #0066CC;
    border: 2px solid #0066CC;
}

/* subscriber reviews and motivational video */
#subscriber-review-main {
    height: 300px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
}

#positive-reviews-outer-lg {
    float: left;
    height: 300px;
    width: 50%;
    padding-top: 50px;
    box-sizing: border-box;
}

.positive-reviews-inner-left-lg {
    width: 20%;
    height: 150px;
    padding-top: 5px; 
    margin-left: 50px;
    float: left;
}

.review-photo-lg {
    width: 150%;
    height: auto;
    border-radius: 10%;
    position: relative;
}

.positive-reviews-inner-right-lg {
    display: inline-block;
    width: 25%;
    padding-top: 30px;
    padding-left: 125px;
    position: absolute;
}

#positive-reviews-outer {
    display: none;
    float: left;
    height: 300px;
    width: 50%;
    box-sizing: border-box;
}

.positive-reviews-inner {
    height: 150px;
    position: relative;
    float: left;
}

.positive-reviews-inner-left {
    width: 20%;
    height: 150px;
    padding-top: 5px; 
    margin-left: 50px;
    float: left;
}

.review-photo {
    width: 75%;
    height: auto;
    border-radius: 45%;
    position: relative;
}

.positive-reviews-inner-right {
    display: inline-block;
    width: 60%;
    padding-top: 5px;
    position: absolute;
}

.subscriber-name {
    line-height: 25px;
    margin-bottom: 3px;
    letter-spacing: 1.5px;
    color: #fafafa;
    text-decoration: underline;
}

.gold-star {
    color: rgba(255, 215, 0, 0.7);
    font-size: 0.75%;
    
}

.no-star {
    color: #fafafa;
    font-size: 0.75%;
}

.subscriber-comment {
    color: #fafafa;
    line-height: 25px;
    letter-spacing: 0.5px;
}

/* motivational video opening new doors */
#motivational-video-outer {
    float: right;
    height: 300px;
    width: 50%;
    box-sizing: border-box;
}

#motivational-video-inner {
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    height: 80%;
    width: 80%;
}

/* anchor element styled as a button */
#anchor-styled-button2 {
    height: 150px;
    width: 100%;
    clear: both;
    box-sizing: border-box;
    text-align: center;
    padding-top: 50px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
}

/* signup webpage */
#subscribe-background {
    width: 100%;
    background: rgba(0, 0, 0, 0.96);
    float: left;
}

#subscribe-section {
    width: 80%;
    height: 600px;
    background-image: url('../images/signup-gym-image.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    float: right;

}

#subscribe-form {
    width: 40%;
    color: #fafafa;
    margin: 30px 15px;
}

#subscribe-form fieldset {
    display: block;
    border: 5px solid #0066CC;
    border-radius: 15px;
}

#legend-style {
    display: block;
    font-size: 300%;
    margin: auto;
    color: #0066CC;
}

#subscribe-form h2 {
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 30px;
    margin-bottom: 9px;
    padding-left: 5px;
    padding-right: 5px;
}

#subscribe-form label {
    margin-left: 10%;
}

.text-input {
    width: 80%;
    height: 20px;
    border: 3px solid #0066CC;
    border-radius: 5px;
    color: #0066CC;
    background-color: #fafafa;
    margin: 1px 15px 10px 10%;
    font-weight: 600;
    font-size: 75%;
    padding-top: 3px;
    padding-bottom: 3px;
}

#button-style {
    width: 80%;
    margin: 5px 15px 15px 10%;
    padding: 3px 9px;
    font-size: 150%;
    border-radius: 5px;
    background-color: #0066CC;
    color: #fafafa
}

#button-style:hover {
    background-color: #fafafa;
    color: #0066CC;
}

/* media queries */

/* index.html larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #logo {
        font-size: 200%;
        line-height: 50px;
        width: 75%;
    }
    
    #menu {
        font-size: 100%;
        letter-spacing: 2px;
        line-height: 25px;
        width: 75%;
        margin-bottom: 3px;
    }

    #hero-outer {
        width: 75%;
        height: 225px;
    }

    /* different membership plans */
    #subscriber-plans {
        height: 225px;
    }

    #subscriber-opening-tag, #trainer-opening-tag {
        letter-spacing: 1px;
        padding: 20px 0 0 20px;
    }
    
    #subscriber-opening-tag p, #trainer-opening-tag p {
        font-size: 75%;
        padding-left: 20px;
    }
    
    .first-subscriber, .first-trainer {
        font-size: 75%;
    }

    #plan1, #plan2, #plan3 {
        width: 25%;
        box-sizing: border-box;
    }

    .plan-heading-moto {
        font-size: 75%;
        padding-top: 10px;
    }

    #anchor-styled-button {
        width: 37.5%;
        height: 75px;
        padding-top: 25px;
        background: rgba(0, 0, 0, 0.7);
    }

    #select-plan-nav, #signup-nav {
        padding: 3px 30px;
        line-height: 20px;
        letter-spacing: 1.5px;
        font-size: 100%;
    }

    #select-plan-nav:hover, #signup-nav:hover {
        border-radius: 10px;
    }

    footer {
        height: 100px;
        width: 75%;
    }

    .social-networks i {
        font-size: 125%;
        margin-left: 6%;
        margin-right: 6%;
    }

    #contact-heading {
        height: 25px;
    }
    
    #contact-details {
        font-size: 90%;
    }
    
    #hr-footer {
        border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    }
}

/* index.html medium screens size from 950px wide and down */
@media screen and (max-width: 950px) { 

    #anchor-styled-button {
        width: 75%;
        height: 50px;
        padding-top: 15px;
        clear: both;
        background: rgba(0, 0, 0, 0.7);
    }
}

/* index.html medium screens size from 850px wide and down */
@media screen and (max-width: 850px) {
    #hero-outer {
        height: 150px;
    }

    #trainer-opening-tag {
        padding-top: 0;
        width: 100%;
    }

    #subscriber-opening-tag {
        display: none;
    }
    
    #plan1, #plan2, #plan3 {
        float: left;
        width: 75%;
        height: 100px;
    }

    #plan1 {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.9));
    }

    #plan2 {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
    }
    
    #plan3 {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
    }

    .plan-heading-moto {
        margin: 3px 5%;
        font-size: 75%;
        float: left;
        width: 40%;
        box-sizing: border-box;
    }

    footer {
        width: 70%;
    }

    .social-networks i {
        font-size: 100%;
        margin-left: 4%;
        margin-right: 4%;
    }

    #contact-heading {
        font-size: 75%;
    }
    
    #contact-details {
        font-size: 75%;
    }
    
    #hr-footer {
        border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    }
}

/* select-a-plan.html larger to medium screens size from 1500px wide and down */
@media screen and (max-width: 1500px) {
    #positive-reviews-outer-lg {
        display: none;
    }
    
    #positive-reviews-outer {
        display: inline-block;
    }
}

/* select-a-plan.html larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #subscriber-plans-detail {
        height: 150px;
    }
    
    #plan1-detail, #plan2-detail, #plan3-detail {
        margin: 0 auto;
        width: 75%;
        height: 100%;
        clear: both;
    }

    #plan1-detail{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.9));
    }

    #plan2-detail{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
    }

    #plan3-detail{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
    }
    
    .plan-heading-detail {
        width: 25%;
        font-size: 75%;
        float: left;
        box-sizing: border-box;
    }

    .plan-subheading-detail {
        width: 25%;
        font-size: 75%;
        padding-top: 30px;
        float: left;
    }

    #subscriber-review-main {
        clear: both;
        width: 75%;
        height: 300px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
    }

    #motivational-video-outer {
        display: none;
    }

    #positive-reviews-outer {
        clear: both;
        height: 150px;
        width: 100%;
    }
    
    .positive-reviews-inner {
        height: 100%;
        float: left;
    }

    #anchor-styled-button2 {
        height: 75px;
        width: 75%;
        clear: both;
        padding-top: 25px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
    }
}

/* select-a-plan.html larger to medium screens size from 850px wide and down */
@media screen and (max-width: 850px) {
    .plan-heading-detail {
        font-size: 60%;
    }

    .plan-subheading-detail {
        font-size: 60%;
    }

    .positive-reviews-inner-right {
        font-size: 75%;
    }
}

/* signup.html larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #subscribe-background {
        width: 75%;
    }
    
    #subscribe-section {
        width: 100%;
    }

    #subscribe-form {
        margin: 30px 30px;
    }
    
    #legend-style {
        font-size: 200%;
    }
    
    #subscribe-form h2 {
        letter-spacing: 3px;
        font-size: 120%;
    }
    
    #button-style {
        font-size: 120%;
    }
}

/* signup.html medium screens size from 950px wide and down */
@media screen and (max-width: 950px) {
    #subscribe-section {
        width: 100%;
        background: rgba(0, 0, 0, 0.96);
    }

    #subscribe-form {
        width: 50%;
        margin: 30px auto;
    }

    #subscribe-form h2 {
        letter-spacing: 2px;
        font-size: 120%;
    }

    #button-style {
        font-size: 120%;
    }
}